{% extends '@App/base.html.twig' %}

{% block body %}
    <fieldset>
        <legend align="left"><div id="fieldtitre"> <h3>Modifier Profil</h3></div></legend>
        {{ form_start(editForm) }}

        {{ form_widget(editForm) }}
        <br/><br/>
        <input type="submit" value="Modifier" class="btn btn-success" />
        <a href="{{path('fos_user_profile_show')}}" class="btn btn-danger">Annuler</a>
        {{ form_end(editForm) }}
    </fieldset>
{% endblock %}


