{% trans_default_domain 'FOSUserBundle' %}

<h1 align="center"> Edit mon Profile </h1>
<div class="container">
    <div class="row">
        <div class="span3">
            {% include'@User/modulesUsed/users-connect.html.twig' %}
        </div>
        <div class="span4 offset2 cards">
            <h4> Photo de profil  :</h4>
            {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
            {{ form_widget(form) }}
            <div>
                <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
            </div>
            {{ form_end(form) }}

        </div>
    </div>
</div>

