{% extends '@App/base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="well">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input class="btn btn-primary btn-lg btn-block" type="submit" value="Enregistrer"/>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}