{% extends('@View/views/base.html.twig') %}

{% block title %}Pote de {{ app.user.username }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-6">
            <legend align="left">
                <h3>Liste d'abonnées</h3>
            </legend>
        </div>
        <div class="col-sm-6">
            <tbody>
            <td><a href="">
                    <button type="button" class="btn btn-experience">Mes Potes</button>
                </a></td>
            </tbody>
        </div>
    </div>
    {% for abon in abonnes %}
        <div class="row">
            <div class="jumbotron col-lg-4 col-sm-6 text-center">
                <table border="1" cellpadding="15">
                    <tr>
                        <h4> Nom :
                            <small>{{ abon.username }}</small>
                        </h4>
                        <h4>
                            Age:
                            <small></small>
                        </h4>
                        <h4>
                            Loisir :
                            <small></small>
                        </h4>
                        <h4> Dernière connexion :
                        </h4>
                    </tr>
                </table>
                <a href="">
                    <button class="btn-success"> Ajoutez</button>
                </a>
                <a href="">
                    <button class="btn-info"> Message</button>
                </a>

            </div>
        </div>
    {% endfor %}


{% endblock %}


