{% extends '@View/views/base.html.twig' %}



{% block content %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="robust-content content container-fluid">
            <div class="content-wrapper">
                <h1 align="center" class="page-header">Bienvenue : {{ app.user.username|upper }}</h1>


                <h2>Teste</h2> <br>
                <ul>
                    <li><a href="{{ path('chatdivers') }}">normal</a><br></li>

                </ul>

            </div>
        </div>
    {% endif %}



{% endblock %}