<div class="cards">
    <ul class="nav nav-list">
        <li>
            <a href="{{ path('fos_user_profile_show') }}">Mon profile</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
        </li>
    </ul>
</div>